<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mars Data</title>

    <!-- bootstrap -->
    
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
</head>
<body style="background-color:black">
    <div class="container">
        <div class="jumbotron" style="text-align: center">
                <h1>Mission to Mars</h1>
                <hr>
                <p>
                    <a class="btn btn-primary btn-lg" href="/scrape">Scrape New Data</a>
                </p>
        </div>
        <!-- row 1 : panel with news -->
        <div class="row">
            <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                   <h3>Latest Mars News</h3>
                   <hr>
                   <h5>{{dict.news_title}}</h5>
                   <p>{{dict.news_p}}</p>
                </div>
                </div>
            </div>
            
        </div>
        <div class="row">

            <div class="col-md-8">
                
                <div class="panel panel-default">
                    <div class="panel-body">
                       <h3>Featured Mars Image</h3>
                       <hr>
                       <img src="{{dict.featured_image_url}}" alt="Mars Featured Image" style="width: 100%">
                    </div>
                </div>
                
                
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                               <h4>Current Weather on Mars</h4>
                               <hr>
                               <p>{{dict.mars_weather}}</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                               <h4>Mars Facts</h4>
                               <hr>
                               {{dict.fact_table | safe}}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
                
            </div>
        
        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <h3 style="text-align: center">Mars Hemispheres</h3>
                            <hr>
                        </div>
                       <div class="row">
                           
                               <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                   <a href="{{dict['hemisphere_images'][0]['img_url']}}" class="thumbnail">
                                       <img src="{{dict['hemisphere_images'][0]['img_url']}}" alt="">
                                       <h4 style="text-align: center">{{dict.hemisphere_images[0].title}}</h4>
                                   </a>
                               </div>
                               
                               <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <a href="{{dict['hemisphere_images'][1]['img_url']}}" class="thumbnail">
                                        <img src="{{dict['hemisphere_images'][1]['img_url']}}" alt="">
                                        <h4 style="text-align: center">{{dict.hemisphere_images[1].title}}</h4>
                                    </a>
                                </div>
                       </div>
                       <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <a href="{{dict['hemisphere_images'][2]['img_url']}}" class="thumbnail">
                                        <img src="{{dict['hemisphere_images'][2]['img_url']}}" alt="">
                                        <h4 style="text-align: center">{{dict.hemisphere_images[2].title}}</h4>
                                    </a>
                            </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <a href="{{dict['hemisphere_images'][3]['img_url']}}" class="thumbnail">
                                                <img src="{{dict['hemisphere_images'][3]['img_url']}}" alt="">
                                                <h4 style="text-align: center">{{dict.hemisphere_images[3].title}}</h4>
                                            </a>
                                        </div>
                                </div>
                       </div>
                    </div>
                </div>
                
            </div>
        </div>
    

</body>
</html>